*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 32px;
  max-width: 1140px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-bottom: 7.5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
}

.search-form__label {
  display: flex;
  width: fit-content;
  cursor: pointer;
  align-items: center;
}

.search-form__textfield {
  width: 225px;
  border-top: 1px solid rgb(255, 255, 255);
  border-right: 1px transparent;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-left: 1px transparent;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: rgb(27, 25, 25);
  appearance: none;
  padding-top: 3px;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:active {
  border-right: 1px solid rgb(255, 255, 255);
  border-left: 1px solid rgb(255, 255, 255);;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: 2px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid rgb(255, 255, 255);
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background-color: rgb(255, 255, 255);
}

.button {
  height: 34px;
  border: 1px solid rgb(255, 255, 255);
  color: inherit;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 122%;
  background-color: rgb(27, 25, 25);
  cursor: pointer;
}

.button:active {
  background-color: rgb(84, 80, 80);
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: 2px;
}

.search-form__submit-button {
  width: 194px;
  margin-top: 20px;
}

.content__title {
  margin-bottom: 24px;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: rgb(84, 80, 80);
}

.content__list {
  position: relative;
  max-width: 400px;
  height: 300px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.content__list::-webkit-scrollbar {
  width: 10px;
} 

.content__card-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.content__card-link_current .content__video-card {
  background-color: rgb(84, 80, 80);
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-description-container {
  inline-size: 200px;
  flex-grow: 1;
}

.content__video-card-title {
  padding: 4px 0;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-size: 18px;
  line-height: 90%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.content__video-card:active {
  background-color: rgb(84, 80, 80);
}

.content__video-card:hover {
  text-decoration: underline;
}

.content__video-card:focus {
  outline: none;
}

.content__video-card:focus-visible {
  outline: none;
  border: 1px solid rgb(255, 255, 255);
}

.content__video-card-thumbnail {
  inline-size: 194px;
  height: 103px;
  object-fit: cover;
}

.more-button {
  width: 100%;
}

/* теперь, надеюсь, всё хорошо */